/*
FED CA2
Filename: styles.css
Author: Koh Hui Lyn
Date: 23/7/2020
*/


/* For Big Screens */
@media screen and (min-width: 601px){ 
    p, blockquote, ::placeholder .card-body{
        font-size: 18px;
    }

    blockquote:before, blockquote:after {
        font-size: 3em;
    }

    h1, .h1 {
        font-size: 2em;
    }

    h2, .h2 {
        font-size: 1.5em;
    }

    h3, .h3 {
        font-size: 1.17em;
    }

    .display-2 {
        font-size: 40px;
    }

    .display-4{
        font-size: 30px;
    }

    .card-img-top{
        margin-bottom:0px;
    }

    #carousel {
        display:flex;
    }

    #showSmall{
        display:none;
    }

    
    #borderRight {
        border-right: 1px solid black;
    }

}

/* For Small Screens */
@media screen and (max-width: 600px){
    p, blockquote, ::placeholder, .card-body{
        font-size: 16px;
    }

    blockquote:before, blockquote:after {
        font-size: 2em;
    }

    h1, .h1 {
        font-size: 22px;
    }
    h2, .h2 {
        font-size: 20px;
    }
    h3, .h3 {
        font-size: 18px;
    }
    .display-4, .display-2{
        font-size: 28px;
    }

    .card-img-top{
        margin-bottom: 20px;
    }

    #carousel {
        display: none;
    }

    #showSmall {
        display: flex;
    }

    #borderRight{
        border: none;
    }

}


/*Body styles*/
.row {
    margin: 0px;
    padding: 50px;
}

h1, p, blockquote {
    text-align: center;
}



/*blockquote */
blockquote {
    background: rgba(48, 48, 61, 0.158);
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D";
    font-style: italic;
}

blockquote:before {
    color: rgb(48, 48, 61);
    content: open-quote;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote:after {
    color: rgb(48, 48, 61);
    content: close-quote;
    line-height: 0.1em;
    margin-left: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

/* Card Styles */
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: contain;
}


/*the 3 icons with rounded boxes*/
#info {
    border: 2px solid rgba(48, 48, 61, 0.658);
    border-radius:5px;
}

/* button links */
#buttonLink:hover {
    color: whitesmoke;
}

#dlLink {
    padding-top: 100px;
}


/* star color */
.checked {
    color:orange;
}